In [379]:
# Dependencies
import json
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [380]:
api_key = 'a770489433124a44654119b16edfb8291b8efa25'

        End Points

End Points - URL

    Base URL / Host Name                          'https://api.census.gov/data/
    + timeseries                                   2012/  ** using 2012 through 2016
    + dataset anme acronim                         acs1
    + start queary                                 ?
    + add evriables starting with get clause       get=NAME,C23022_001E
    + predicate clause                             &for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:
    + insert key                                   &key='


#C23022_001E = sex by full time full time employment status 
#C23022_002E = sex by full time full time employment status ** "FT emp - M" 


#C23022_007E = sex by full time full time employment status ** "FT emp - F"

In [381]:
url_2015_employed = 'https://api.census.gov/data/2015/acs1?get=NAME,C23022_001E&for=congressional%20district:*&key='
url_2014_employed = 'https://api.census.gov/data/2014/acs1?get=NAME,C23022_001E&for=congressional%20district:*&key='
url_2013_employed = 'https://api.census.gov/data/2013/acs1?get=NAME,C23022_001E&for=congressional%20district:*&key='
url_2012_employed = 'https://api.census.gov/data/2012/acs1?get=NAME,C23022_001E&for=congressional%20district:*&key='

        #Queries

In [382]:
#query for Full Time Employment 2015 response (FTE)
employed_2015_response = requests.get(url_2015_employed)
employed_2015_json = employed_2015_response.json()

In [383]:
#query for Full Time Employment 2014 response (FTE)
employed_2014_response = requests.get(url_2014_employed)
employed_2014_json = employed_2014_response.json()

In [384]:
#query for Full Time Employment 2013 response (FTE)
employed_2013_response = requests.get(url_2013_employed)
employed_2013_json = employed_2013_response.json()

In [385]:
#query for Full Time Employment 2012 response (FTE)
employed_2012_response = requests.get(url_2012_employed)
employed_2012_json = employed_2012_response.json()

        Look at json files

In [386]:
#veiw json for full time 2015 employment status
employed_2015_json[0:3]

[['NAME', 'C23022_001E', 'state', 'congressional district'],
 ['Congressional District 1 (114th Congress), Alabama', '443698', '01', '01'],
 ['Congressional District 2 (114th Congress), Alabama', '436888', '01', '02']]

In [387]:
#veiw json for full time 2014 employment status
employed_2014_json[0:3]

[['NAME', 'C23022_001E', 'state', 'congressional district'],
 ['Congressional District 1 (114th Congress), Alabama', '440066', '01', '01'],
 ['Congressional District 2 (114th Congress), Alabama', '433950', '01', '02']]

In [388]:
#veiw json for full time 2013 employment status
employed_2013_json[0:3]

[['NAME', 'C23022_001E', 'state', 'congressional district'],
 ['Congressional District 1 (113th Congress), Alabama', '441069', '01', '01'],
 ['Congressional District 2 (113th Congress), Alabama', '441141', '01', '02']]

In [389]:
#veiw json for full time 2012 employment status
employed_2012_json[0:3]

[['NAME', 'C23022_001E', 'state', 'congressional district'],
 ['Congressional District 1 (113th Congress), Alabama', '442343', '01', '01'],
 ['Congressional District 2 (113th Congress), Alabama', '437883', '01', '02']]

        Convert json files to data frames and correct column headings

In [390]:
# Convert FTE 2015 to Data Frame
employed_2015_df =pd.DataFrame(employed_2015_json)
employed_2015_df.columns = employed_2015_df.iloc[0]
employed_2015_df.head(3)

,NAME,C23022_001E,state,congressional district
0,NAME,C23022_001E,state,congressional district
1,"Congressional District 1 (114th Congress), Ala...",443698,01,01
2,"Congressional District 2 (114th Congress), Ala...",436888,01,02

In [391]:
#Change 2015 Column heading
employed_2015_df2 = employed_2015_df.drop([0])
employed_2015_df = employed_2015_df2.rename(columns={"C23022_001E":"2015"})
employed_2015_df.head()

,NAME,2015,state,congressional district
1,"Congressional District 1 (114th Congress), Ala...",443698,01,01
2,"Congressional District 2 (114th Congress), Ala...",436888,01,02
3,"Congressional District 3 (114th Congress), Ala...",456973,01,03
4,"Congressional District 4 (114th Congress), Ala...",426371,01,04
5,"Congressional District 5 (114th Congress), Ala...",461485,01,05

In [392]:
#change year data from object to numeric
employed_2015_df['2015'] = pd.to_numeric(employed_2015_df['2015'])

employed_2015_df.dtypes

0
NAME                      object
2015                       int64
state                     object
congressional district    object
dtype: object

In [393]:
# Convert FTE 2014 to Data Frame
employed_2014_df =pd.DataFrame(employed_2014_json)
employed_2014_df.columns = employed_2014_df.iloc[0]
employed_2014_df.head()

,NAME,C23022_001E,state,congressional district
0,NAME,C23022_001E,state,congressional district
1,"Congressional District 1 (114th Congress), Ala...",440066,01,01
2,"Congressional District 2 (114th Congress), Ala...",433950,01,02
3,"Congressional District 3 (114th Congress), Ala...",461181,01,03
4,"Congressional District 4 (114th Congress), Ala...",426075,01,04

In [394]:
#Change 2014 Column heading
employed_2014_df2 = employed_2014_df.drop([0])
employed_2014_df = employed_2014_df2.rename(columns={"C23022_001E":"2014"})
employed_2014_df.head()

,NAME,2014,state,congressional district
1,"Congressional District 1 (114th Congress), Ala...",440066,01,01
2,"Congressional District 2 (114th Congress), Ala...",433950,01,02
3,"Congressional District 3 (114th Congress), Ala...",461181,01,03
4,"Congressional District 4 (114th Congress), Ala...",426075,01,04
5,"Congressional District 5 (114th Congress), Ala...",458893,01,05

In [395]:
#change year data from object to numeric
employed_2014_df['2014'] = pd.to_numeric(employed_2014_df['2014'])

employed_2014_df.dtypes

0
NAME                      object
2014                       int64
state                     object
congressional district    object
dtype: object

In [396]:
# Convert FTE 2013 to Data Frame
employed_2013_df =pd.DataFrame(employed_2013_json)
employed_2013_df.columns = employed_2013_df.iloc[0]
employed_2013_df.head()

,NAME,C23022_001E,state,congressional district
0,NAME,C23022_001E,state,congressional district
1,"Congressional District 1 (113th Congress), Ala...",441069,01,01
2,"Congressional District 2 (113th Congress), Ala...",441141,01,02
3,"Congressional District 3 (113th Congress), Ala...",459735,01,03
4,"Congressional District 4 (113th Congress), Ala...",432636,01,04

In [397]:
#Change 2013 Column heading
employed_2013_df2 = employed_2013_df.drop([0])
employed_2013_df = employed_2013_df2.rename(columns={"C23022_001E":"2013"})
employed_2013_df.head()

,NAME,2013,state,congressional district
1,"Congressional District 1 (113th Congress), Ala...",441069,01,01
2,"Congressional District 2 (113th Congress), Ala...",441141,01,02
3,"Congressional District 3 (113th Congress), Ala...",459735,01,03
4,"Congressional District 4 (113th Congress), Ala...",432636,01,04
5,"Congressional District 5 (113th Congress), Ala...",458603,01,05

In [398]:
#change year data from object to numeric
employed_2013_df['2013'] = pd.to_numeric(employed_2013_df['2013'])

employed_2013_df.dtypes

0
NAME                      object
2013                       int64
state                     object
congressional district    object
dtype: object

In [399]:
# Convert FTE 2012 to Data Frame
employed_2012_df =pd.DataFrame(employed_2012_json)
employed_2012_df.columns = employed_2012_df.iloc[0]
employed_2012_df.head()

,NAME,C23022_001E,state,congressional district
0,NAME,C23022_001E,state,congressional district
1,"Congressional District 1 (113th Congress), Ala...",442343,01,01
2,"Congressional District 2 (113th Congress), Ala...",437883,01,02
3,"Congressional District 3 (113th Congress), Ala...",456475,01,03
4,"Congressional District 4 (113th Congress), Ala...",427973,01,04

In [400]:
#Change 2012 Column heading
employed_2012_df2 = employed_2012_df.drop([0])
employed_2012_df = employed_2012_df2.rename(columns={"C23022_001E":"2012"})
employed_2012_df.head()

,NAME,2012,state,congressional district
1,"Congressional District 1 (113th Congress), Ala...",442343,01,01
2,"Congressional District 2 (113th Congress), Ala...",437883,01,02
3,"Congressional District 3 (113th Congress), Ala...",456475,01,03
4,"Congressional District 4 (113th Congress), Ala...",427973,01,04
5,"Congressional District 5 (113th Congress), Ala...",456360,01,05

In [401]:
#change year data from object to numeric
employed_2012_df['2012'] = pd.to_numeric(employed_2012_df['2012'])

employed_2012_df.dtypes

0
NAME                      object
2012                       int64
state                     object
congressional district    object
dtype: object

        MERGE

In [402]:
merge_df = pd.merge(employed_2015_df, employed_2014_df, on='NAME', how="left")

merge_df.head()

,NAME,2015,state_x,congressional district_x,2014,state_y,congressional district_y
0,"Congressional District 1 (114th Congress), Ala...",443698,01,01,440066,01,01
1,"Congressional District 2 (114th Congress), Ala...",436888,01,02,433950,01,02
2,"Congressional District 3 (114th Congress), Ala...",456973,01,03,461181,01,03
3,"Congressional District 4 (114th Congress), Ala...",426371,01,04,426075,01,04
4,"Congressional District 5 (114th Congress), Ala...",461485,01,05,458893,01,05

In [410]:

# Delete the duplicate 'Congressional district
Reduced_merge_df = merge_df.loc[:,["name", "2015", "2014", "state"]]
Reduced_merge_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

0  name    2015    2014  state
0   NaN  443698  440066    NaN
1   NaN  436888  433950    NaN
2   NaN  456973  461181    NaN
3   NaN  426371  426075    NaN
4   NaN  461485  458893    NaN

In [ ]:
reduced_kickstarter_df = df.loc[:,["name", "goal", "pledged", "state", "country", "staff_pick","backers_count", "spotlight"]]
reduced_kickstarter_df

In [403]:
merge_df2 = pd.merge(merge_df, employed_2013_df, on='NAME', how="left")

merge_df2.head()

,NAME,2015,state_x,congressional district_x,2014,state_y,congressional district_y,2013,state,congressional district
0,"Congressional District 1 (114th Congress), Ala...",443698,01,01,440066,01,01,NaN,NaN,NaN
1,"Congressional District 2 (114th Congress), Ala...",436888,01,02,433950,01,02,NaN,NaN,NaN
2,"Congressional District 3 (114th Congress), Ala...",456973,01,03,461181,01,03,NaN,NaN,NaN
3,"Congressional District 4 (114th Congress), Ala...",426371,01,04,426075,01,04,NaN,NaN,NaN
4,"Congressional District 5 (114th Congress), Ala...",461485,01,05,458893,01,05,NaN,NaN,NaN

In [404]:
#MERGE 12 & 13

In [405]:
merge_df3 = pd.merge(employed_2013_df, employed_2012_df, on='NAME', how="left")

merge_df3.head()

,NAME,2013,state_x,congressional district_x,2012,state_y,congressional district_y
0,"Congressional District 1 (113th Congress), Ala...",441069,01,01,442343,01,01
1,"Congressional District 2 (113th Congress), Ala...",441141,01,02,437883,01,02
2,"Congressional District 3 (113th Congress), Ala...",459735,01,03,456475,01,03
3,"Congressional District 4 (113th Congress), Ala...",432636,01,04,427973,01,04
4,"Congressional District 5 (113th Congress), Ala...",458603,01,05,456360,01,05

        Adding columns and calculations

In [ ]:
# Create a new column that finds the % of Males vs total
reduced_merge_df["Male Emp % of tot"] = reduced_merge_df['FTE M']/reduced_merge_df['FTE tot']
reduced_merge_df["Female Emp % of tot"] = reduced_merge_df['FTE F']/reduced_merge_df['FTE tot']
reduced_merge_df.head(2)

In [ ]:
# Create a new column that finds the difference between column values
reduced_merge_df["tot_less_Males"] = reduced_merge_df['FTE tot']- reduced_merge_df['FTE M']
reduced_merge_df["tot_less_Females"] = reduced_merge_df['FTE tot']- reduced_merge_df['FTE F']
reduced_merge_df.head(2)

In [ ]:
reduced_merge_df.dtypes